<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>商品新增</title>
    <!-- 请勿在项目正式环境中引用该 layui.css 地址 -->
    <link href="//unpkg.com/layui@2.8.10/dist/css/layui.css" rel="stylesheet">
</head>
<body>
<style>
    .demo-reg-container {
        width: 320px;
        margin: 21px auto 0;
    }

    .demo-reg-other .layui-icon {
        position: relative;
        display: inline-block;
        margin: 0 2px;
        top: 2px;
        font-size: 26px;
    }
</style>
<fieldset class="layui-elem-field" style="margin-top: 10%">
    <legend style="margin-left: 47%">新增商品</legend>
    <div class="layui-field-box">
        <form class="layui-form">
            <div class="demo-reg-container">
                <div class="layui-form-item">
                    <div class="layui-input-wrap">
                        <div class="layui-input-prefix">
                            <i class="layui-icon layui-icon-password"></i>
                        </div>
                        <input type="text" name="commodityName" value="" lay-verify="required" placeholder="商品名称"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-wrap">
                        <div class="layui-input-prefix">
                            <i class="layui-icon layui-icon-username"></i>
                        </div>
                        <input type="text" name="brand" value="" lay-verify="required" placeholder="品牌"
                               autocomplete="off" class="layui-input" lay-affix="clear">
                    </div>
                </div>
                <div class="layui-form-item" style="margin-left: -20%">
                    <label class="layui-form-label">类型</label>
                    <div class="layui-input-block">
                        <select name="type" lay-filter="aihao">
                            <option value=""></option>
                            <option value="速食">速食</option>
                            <option value="1">阅读</option>
                            <option value="2">游戏</option>
                            <option value="3">音乐</option>
                            <option value="4">旅行</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-wrap">
                        <div class="layui-input-prefix">
                            <i class="layui-icon layui-icon-username"></i>
                        </div>
                        <input type="number" name="price" value="" lay-verify="required" placeholder="价格"
                               autocomplete="off" class="layui-input" lay-affix="clear">
                    </div>
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="demo-reg">新增</button>
                </div>
            </div>
        </form>

    </div>
</fieldset>
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
<!-- 请勿在项目正式环境中引用该 layui.js 地址 -->
<script src="//unpkg.com/layui@2.8.10/dist/layui.js"></script>
<script>
    layui.use(function () {
        var $ = layui.$;
        var form = layui.form;
        var layer = layui.layer;
        var util = layui.util;


        // 提交事件
        form.on('submit(demo-reg)', function (data) {
            var field = data.field; // 获取表单字段值

            // 此处可执行 Ajax 等操作
            // …
            $.ajax({
                url: "http://localhost:8080/shixun/commodity/commodityAdd",
                data: field,
                dataType: "json",
                type: "post",
                success: function (res) {
                    if (res.isAdd) {
                        alert(res.msg);
                        location.href = "http://localhost:8080/shixun/toIndex";
                    } else {
                        alert(res.msg);
                    }
                }
            })
            return false; // 阻止默认 form 跳转
        });
    });
</script>
</body>
</html>